<footer class="footer">
    <div class="footer__top top-footer">
        <div class="container">
            <div class="top-footer__content block1">
                <div class="top-footer__left">
                    <div class="top-footer__menu">
                        <ul>
                            <li>
                                <a href="#">О компании</a>
                            </li>
                            <li>
                                <a href="#">Портфолио</a>
                            </li>
                            <li>
                                <a href="#">Цены</a>
                            </li>
                            <li>
                                <a href="#">Отзывы</a>
                            </li>
                            <li>
                                <a href="#">Контакты</a>
                            </li>
                            <a href="#" class="btn">Вызвать мастера</a>
                        </ul>
                        <ul>
                            <li>
                                <a href="#">
                                    Перенос розеток и выключателей с сохранением обоев и без
                                </a>
                            </li>
                            <li>
                                <a href="#">Установка электрощитов</a>
                            </li>
                            <li>
                                <a href="#">Установка светильников</a>
                            </li>
                            <li>
                                <a href="#">Ремонт электропроводки</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="top-footer__right">
                    <div class="top-footer__title">Наши реквизиты:</div>
                    <ul>
                        <li>
                            <div class="top-footer__name">ИНН/КПП</div>
                            <div class="top-footer__value">
                                7733831670/773304001
                            </div>
                        </li>
                        <li>
                            <div class="top-footer__name">ОГРН</div>
                            <div class="top-footer__value">
                                1137746255877 от 25.03.2013 г.
                            </div>
                        </li>
                        <li>
                            <div class="top-footer__name">Расчётный счёт</div>
                            <div class="top-footer__value"> 40724810600030005347 в ПАО АКБ "АВАНГАРД" г. Москва</div>
                        </li>
                        <li>
                            <div class="top-footer__name">БИК</div>
                            <div class="top-footer__value">30301910000000000201</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom bottom-footer">
        <div class="container">
            <div class="bottom-footer__content block1">
                <div class="bottom-footer__copy">© 2025 «VoltExpert» Все права защищены</div>
                <div class="bottom-footer__right">
                    <div class="bottom-footer__title"><a href="#">Политика конфиденциальности</a></div>
                    <div class="bottom-footer__title">
                        <span>Разработка сайта:</span>
                        <a href="#">
                            miridea.ru
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>