<header class="header">
  <div class="container">
    <div class="header__content">
      <a href="#" class="header__logo">
        <img src="img/icon/logo.svg" alt="">
      </a>
      <div class="header__right-mob">
        <div class="socials socials-mob">
          <a href="#">
            <img loading="lazy" src="img/icon/ba.svg" alt="">
          </a>
          <a href="#">
            <img loading="lazy" src="img/icon/telegram.svg" alt="">
          </a>
          <a href="#">
            <img loading="lazy" src="img/icon/whatsapp.svg" alt="">
          </a>
        </div>
        <div class="header__icon">
          <div class="icon-menu">
            <span></span>
          </div>
        </div>
      </div>
      <div class="header__right">
        <div class="header__body">
          <div class="header__menu menu">
            <nav class="menu__body">
              <ul class="menu__list">
                <li class="menu__item">
                  <button data-goto-header data-goto=".block-intro" type="button" class="menu__link">
                    Электромонтаж под ключ
                  </button>
                  <div class="menu__submenu1">
                    <ul>
                      <li>
                        <div class="menu__link2">
                          <a href="#">Электромонтаж в частном доме</a>
                          <span class="menu__arrow">
                            <img loading="lazy" src="img/icon/arrow.svg" alt="">
                          </span>
                        </div>
                        <div class="menu__submenu2">
                          <ul>
                            <li>
                              <a href="#" class="menu__sublink2">
                                Электрика в доме
                              </a>
                            </li>
                            <li>
                              <a href="#" class="menu__sublink2">
                                Проводка в доме из блоков
                              </a>
                            </li>
                            <li>
                              <a href="#" class="menu__sublink2">
                                Проводка в доме из пеноблока
                              </a>
                            </li>
                            <li>
                              <a href="#" class="menu__sublink2">
                                Электрика в каменных домах
                              </a>
                            </li>
                        </div>
                      </li>
                      <li>
                        <div class="menu__link2">
                          <a href="#">
                            Электрика в квартирах
                          </a>
                          <span class="menu__arrow">
                            <img loading="lazy" src="img/icon/arrow.svg" alt="">
                          </span>
                        </div>
                        <div class="menu__submenu2">
                          <ul>
                            <li>
                              <a href="#" class="menu__sublink2">
                                Электромонтаж в офисе
                              </a>
                            </li>
                            <li>
                              <a href="#" class="menu__sublink2">
                                Проводка в доме из блоков
                              </a>
                            </li>
                            <li>
                              <a href="#" class="menu__sublink2">
                                Проводка в доме из пеноблока
                              </a>
                            </li>
                            <li>
                              <a href="#" class="menu__sublink2">
                                Электрика в каменных домах
                              </a>
                            </li>
                        </div>
                      </li>
                      <li>
                        <div class="menu__link2">
                          <a href="#">Электромонтаж в офисе</a>
                          <span class="menu__arrow">
                            <img loading="lazy" src="img/icon/arrow.svg" alt="">
                          </span>
                        </div>
                        <div class="menu__submenu2">
                          <ul>
                            <li>
                              <a href="#" class="menu__sublink2">
                                Электрика в доме
                              </a>
                            </li>
                            <li>
                              <a href="#" class="menu__sublink2">
                                Проводка в доме из блоков
                              </a>
                            </li>
                            <li>
                              <a href="#" class="menu__sublink2">
                                Проводка в доме из пеноблока
                              </a>
                            </li>
                            <li>
                              <a href="#" class="menu__sublink2">
                                Электрика в каменных домах
                              </a>
                            </li>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="menu__item">
                  <a data-goto-header data-goto=".block-services" href="#" class="menu__link">Услуги</a>
                </li>
                <li class="menu__item">
                  <a data-goto-header data-goto=".block-about" href="#" class="menu__link">О нас</a>
                </li>
                <li class="menu__item">
                  <a data-goto-header data-goto=".block-gallery" href="#" class="menu__link">Портфолио</a>
                </li>
                <li class="menu__item">
                  <a data-goto-header data-goto=".block-price" href="#" class="menu__link">Цены</a>
                </li>
                <li class="menu__item">
                  <a data-goto-header data-goto=".block-reviews" href="#" class="menu__link">Отзывы</a>
                </li>
                <li class="menu__item">
                  <a data-goto-header data-goto=".block-contacts" href="#" class="menu__link">Контакты</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="header__center">
            <div class="header__search search-header">
              <button type="button" class="search-header__button">
                <img src="img/icon/search.svg" alt="">
              </button>
              <form action="#" class="form__inputs">
                <input autocomplete="off" type="text" name="form[]" placeholder="Поиск по сайту" class="input">
                <button type="button">
                  <img src="img/icon/search.svg" alt="">
                </button>
              </form>
            </div>
            <div class="socials">
              <a href="#">
                <img loading="lazy" src="img/icon/ba.svg" alt="">
              </a>
              <a href="#">
                <img loading="lazy" src="img/icon/telegram.svg" alt="">
              </a>
              <a href="#">
                <img loading="lazy" src="img/icon/whatsapp.svg" alt="">
              </a>
            </div>
            <div class="header__personal personal-header">
              <div class="personal-header__image">
                <img src="img/photo1.webp" alt="">
                <span></span>
              </div>
              <div class="personal-header__contacts">
                <a href="tel:79379777279" class="personal-header__phone">+7 (937) 977-72-79</a>
                <a href="mailto:info@voltexpert.ru" class="personal-header__email">info@voltexpert.ru</a>
              </div>
            </div>
            <a href="#" data-popup="#call-specialist" class="btn"><span>Вызвать мастера</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>