<div id="call-specialist" aria-hidden="true" class="popup">
  <div class="popup__wrapper">
    <div class="popup__content">
      <div data-close class="popup__close">
        <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path opacity="0.850056" d="M1.73333 1.48883L21.5469 21.0288" stroke="#000" stroke-width="2"
            stroke-linecap="square" />
          <path opacity="0.850056" d="M21.2667 1.48877L1.45312 21.0287" stroke="black" stroke-width="2"
            stroke-linecap="square" />
        </svg>
      </div>
      <form action="#" class="form">
        <div class="form__content">
          <div class="form__title">
            Подберем вид работ под ваш бюджет!
          </div>
          <div class="form__inputs">
            <input autocomplete="off" type="text" name="form[]" data-error="Обязательное поле" placeholder="Имя"
              class="input">
            <input data-required autocomplete="off" type="text" name="form[]" data-error="Обязательное поле"
              placeholder="Телефон" class="input">
          </div>
          <button type="submit" class="form__btn btn btn-black"><Span>Вызвать
              мастера</Span></button>
        </div>
      </form>
    </div>
  </div>
</div>