.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: var(--theme-color-grey);
    .container {
        max-width: 1500px;
        @media (max-width: 1500px) {
            padding: 0px 0px 0px 0px;
        }
    }
    @media (min-width: 1300px) {
        &._header-scroll {
            .header__right {
                padding: 15px 0px;
            }
            .header__logo {
                margin: 0px 0px 0px 0px;
                span {
                    padding: 15px;
                }
                img {
                    height: 60px;
                }
            }
        }
    }
    // .header__content
    &__content {
        display: flex;
        padding: 0px 93px 0px 55px;
        gap: 25px;
        @media (max-width: 1600px) {
            padding: 0px 20px 0px 0px;
        }
        @media (max-width: 1300px) {
            align-items: center;
            justify-content: space-between;
            gap: 10px;
        }
    }

    // .header__logo

    &__logo {
        display: flex;
        justify-content: flex-end;
        flex: 0 0 188px;
        margin: 0px 0px -40px 0px;
        @media (max-width: 1500px) {
            flex: 0 1 auto;
            margin: 0px 0px 0px 0px;
        }
        @media (min-width: 1300px) {
            transition: margin-bottom 0.3s;
        }
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            box-shadow: 0 30px 80px 0 rgba(43, 42, 41, 0.1);
            padding: 30px;
            @media (min-width: 1300px) {
                transition:
                    padding-left 0.3s,
                    padding-top 0.3s,
                    padding-bottom 0.3s,
                    padding-right 0.3s;
            }
            @media (max-width: 1500px) {
                padding: 10px 15px;
            }
        }
        img {
            height: 90px;
            width: auto;
            transition: height 0.3s;
            @media (max-width: 1500px) {
                height: 60px;
            }
        }
    }

    // .header__right-mob

    &__right-mob {
        display: none;
        @media (max-width: 1300px) {
            flex: 1 1 auto;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 38px;
        }
        @media (max-width: 359px) {
            gap: 15px;
        }
    }

    // .header__icon

    &__icon {
        flex: 0 0 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        background-color: var(--theme-color-accent);
        transition: background-color 0.3s;
        .menu-open & {
            background-color: var(--theme-color-text-common);
        }
    }

    // .header__right

    &__right {
        position: relative;
        flex: 1 1 auto;
        padding: 33px 0px;
        @media (min-width: 1300px) {
            display: flex;
            justify-content: flex-end;
            transition:
                padding-top 0.3s,
                padding-bottom 0.3s;
        }
        @media (max-width: 1300px) {
            position: absolute;
            z-index: 100;
            top: 100%;
            right: -100%;
            width: 360px;
            height: calc(100vh - 100%);
            background-color: var(--theme-color-grey);
            padding: 0px 0px 0px 0px;
            transition: right 0.3s;
            overflow: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
            .menu-open & {
                right: 0;
            }
            @media (max-width: 480px) {
                width: 100%;
            }
            .socials {
                display: none;
            }
        }
    }

    // .header__body

    &__body {
        display: flex;
        align-items: center;
        gap: 22px;
        @media (max-width: 1300px) {
            gap: 50px;
            flex-direction: column-reverse;
        }
    }

    // .header__menu

    &__menu {
    }

    // .header__center

    &__center {
        display: flex;
        align-items: center;
        gap: 25px;
        @media (max-width: 1300px) {
            width: 100%;
            flex-direction: column-reverse;
            justify-content: center;
            padding: 25px 20px 0px 20px;
        }
        .btn {
            margin: 0px 0px 0px -5px;
            min-height: 44px;
            min-width: auto;
            width: auto;
            font-size: 12px;
            line-height: 133%;
            padding: 15px 22px 13px 22px;
            white-space: nowrap;
            @media (max-width: 1300px) {
                display: none;
            }
        }
    }

    // .header__search

    &__search {
    }

    // .header__personal

    &__personal {
    }
}

.socials {
    display: flex;
    gap: 8px;
    @media (max-width: 1300px) {
        gap: 10px;
    }
    a {
        flex: 0 0 22px;
        height: 22px;
        transition: opacity 0.3s;
        @media (max-width: 1300px) {
            flex: 0 0 26px;
            height: 26px;
        }
        img {
            width: 22px;
            height: 22px;
            @media (max-width: 1300px) {
                width: 26px;
                height: 26px;
            }
        }
        &:hover {
            opacity: 0.8;
        }
    }
    &.socials-mob {
        display: none;
        @media (max-width: 1300px) {
            display: flex;
        }
    }
}

.menu {
    flex: 1 1 auto;
    @media (max-width: 1300px) {
        padding: 0px 20px 60px 20px;
    }
    // .menu__body

    &__body {
    }

    // .menu__list

    &__list {
        display: flex;
        align-items: center;
        gap: 22px;
        @media (max-width: 1500px) {
            flex-wrap: wrap;
            justify-content: center;
            gap: 15px;
        }
        @media (max-width: 1300px) {
            flex-direction: column;
            gap: 30px;
        }
    }

    // .menu__item

    &__item {
        position: relative;
        button {
            white-space: wrap;
            &::after {
                content: "";
                background-color: transparent;
            }
        }
        &:hover {
            .menu__submenu1 {
                opacity: 1;
                pointer-events: auto;
            }
        }
        @media (max-width: 1300px) {
            width: 100%;
        }
    }

    // .menu__link

    &__link {
        white-space: nowrap;
        font-weight: 700;
        font-size: 12px;
        line-height: 117%;
        text-align: center;
        display: flex;
        flex-direction: column;
        transition: color 0.3s;
        @media (max-width: 1300px) {
            width: 100%;
            font-size: 20px;
            &._active {
                color: var(--theme-color-accent);
            }
        }
        &::after {
            content: "";
            width: 0;
            height: 2px;
            background-color: var(--theme-color-accent);
            margin: 2px 0px 0px 0px;
            transition: width 0.3s;
            @media (max-width: 768px) {
                display: none;
            }
        }
        &:hover {
            color: var(--theme-color-accent);
            &::after {
                content: "";
                width: 100%;
            }
        }
    }

    // .menu__submenu1

    &__submenu1 {
        position: absolute;
        padding: 20px 0px 0px 0px;
        top: 100%;
        left: -6px;
        width: 341px;
        height: auto;
        opacity: 0;
        pointer-events: none;
        @media (max-width: 1300px) {
            padding: 0px 0px 0px 0px;
            margin: 25px 0px 0px 0px;
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            opacity: 1;
            pointer-events: auto;
        }
        &::before {
            content: "";
            position: absolute;
            top: 20px;
            left: 28px;
            height: calc(100% - 5px);
            width: calc(100% - 68px);
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.5);
            box-shadow: 0 30px 80px 0 rgba(43, 42, 41, 0.1);
            z-index: -1;
            @media (max-width: 1300px) {
                display: none;
            }
        }
        ul {
            position: relative;
            z-index: 5;
            border-radius: 10px 0px 0px 10px;
            background-color: #fff;
            box-shadow: 0 30px 80px 0 rgba(43, 42, 41, 0.1);
            @media (max-width: 1300px) {
                border-radius: 10px;
                overflow: hidden;
            }
            li {
                position: relative;
                display: flex;
                flex-direction: column;
                &::after {
                    content: "";
                    border: 1px solid rgba(43, 42, 41, 0.1);
                    margin: 0px 28px 0px 28px;
                    @media (max-width: 1300px) {
                        display: none;
                    }
                }
                &:hover {
                    @media (min-width: 1300px) {
                        .menu__arrow {
                            background-color: var(--theme-color-text-common);
                            img {
                                filter: brightness(0) invert(1);
                            }
                        }
                    }
                    .menu__submenu2 {
                        opacity: 1;
                        pointer-events: auto;
                    }
                }
            }
        }
    }

    // .menu__submenu2

    &__submenu2 {
        position: absolute;
        z-index: 100;
        top: 0;
        left: 100%;
        width: 285px;
        height: auto;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
        &::before {
            content: "";
            position: absolute;
            top: 0px;
            left: 28px;
            height: calc(100% + 15px);
            width: calc(100% - 68px);
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.5);
            box-shadow: 0 30px 80px 0 rgba(43, 42, 41, 0.1);
            z-index: -1;
            @media (max-width: 1300px) {
                display: none;
            }
        }
        @media (max-width: 1300px) {
            position: relative;
            left: 0;
            width: 100%;
            opacity: 1;
            pointer-events: auto;
        }
        ul {
            border-radius: 0px 10px 10px 10px;
            background-color: #fff;
            box-shadow: 0 30px 80px 0 rgba(43, 42, 41, 0.1);
            position: relative;
            overflow: hidden;
            z-index: 5;
            @media (max-width: 1300px) {
                border-radius: 10px;
                box-shadow: none;
                background-color: var(--theme-color-grey);
                margin: 0px 5px 5px 5px;
            }
            li {
                &::after {
                    content: "";
                    display: none;
                }
                &:last-child {
                    a {
                        padding: 20px 28px;
                        @media (max-width: 1300px) {
                            padding: 15px;
                        }
                        &::after {
                            content: "";
                            display: none;
                        }
                    }
                }
            }
        }
    }

    // .menu__link2

    &__link2 {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        text-align: left;
        padding: 15px 28px 15px 28px;
        font-weight: 500;
        font-size: 14px;
        gap: 15px;

        @media (max-width: 1300px) {
            position: relative;
            padding: 20px 28px 20px 28px;
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 20px;
                width: calc(100% - 40px);
                border: 1px solid rgba(43, 42, 41, 0.1);
            }
        }
        &._spoller-active {
            background-color: var(--theme-color-accent);
            color: var(--theme-color-text-common);
            &::after {
                content: "";
                border: 1px solid transparent;
            }
            .menu__arrow {
                img {
                    transform: rotate(-90deg);
                }
            }
        }
        @media (max-width: 1300px) {
            font-weight: 700;
        }
    }

    // .menu__arrow

    &__arrow {
        flex: 0 0 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--theme-color-accent);
        border-radius: 3px 10px 3px 10px;
        @media (max-width: 1300px) {
            background-color: transparent;
            flex: 0 1 auto;
            width: auto;
            height: auto;
            border-radius: 0px;
        }
        img {
            width: 8px;
            height: 12px;
            transition:
                filter 0.3s,
                transform 0.3s;
            @media (max-width: 1300px) {
                transform: rotate(90deg);
            }
        }
    }

    // .menu__sublink2

    &__sublink2 {
        padding: 20px 28px 0px 28px;
        width: 100%;
        font-weight: 500;
        font-size: 14px;
        text-align: left;
        display: flex;
        flex-direction: column;
        transition:
            background-color 0.3s,
            color 0.3s;
        @media (max-width: 1300px) {
            text-align: center;
            padding: 15px 15px 0px 15px;
        }
        &:hover {
            @media (min-width: 1300px) {
                background-color: var(--theme-color-accent);
                &::after {
                    content: "";
                    border: 1px solid transparent;
                }
            }
            @media (max-width: 1300px) {
                color: var(--theme-color-accent);
            }
        }
        &::after {
            content: "";
            transition: border 0.3s;
            border: 1px solid rgba(43, 42, 41, 0.1);
            margin: 20px 0px 0px 0px;
            @media (max-width: 1300px) {
                border: 1px dashed rgba(43, 42, 41, 0.1);
                margin: 15px 0px 0px 0px;
            }
        }
    }
}

.search-header {
    @media (max-width: 1300px) {
        width: 100%;
    }
    .form__inputs {
        pointer-events: none;
        gap: 0px;
        opacity: 0;
        transition: opacity 0.3s;
        @media (max-width: 1300px) {
            position: relative;
            opacity: 1;
            pointer-events: auto;
        }
        input {
            @media (max-width: 1300px) {
                padding: 5px 50px 5px 25px;
            }
            @media (min-width: 1300px) {
                position: absolute;
                left: 0;
                top: 100%;
                box-shadow: 0 30px 80px 0 rgba(43, 42, 41, 0.1);
            }
        }
        button {
            position: absolute;
            top: 100%;
            right: 0;
            padding: 21px 15px;
            @media (max-width: 1300px) {
                top: 50%;
                transform: translate(0px, -50%);
                padding: 0px 0px 0px 0px;
                right: 25px;
            }
        }
    }
    &._active {
        .form__inputs {
            opacity: 1;
            pointer-events: auto;
        }
        .search-header__button {
            img {
                filter: invert(76%) sepia(56%) saturate(990%) hue-rotate(357deg) brightness(99%) contrast(107%);
            }
        }
    }

    // .search-header__button

    &__button {
        position: relative;
        z-index: 5;
        img {
            width: 15px;
            height: 15px;
            transition: filter 0.3s;
        }
        &:hover {
            img {
                filter: invert(76%) sepia(56%) saturate(990%) hue-rotate(357deg) brightness(99%) contrast(107%);
            }
        }
        @media (max-width: 1300px) {
            display: none;
        }
    }
}

.personal-header {
    display: flex;
    align-items: center;
    // .personal-header__image

    &__image {
        position: relative;
        flex: 0 0 40px;
        width: 40px;
        height: 40px;
        margin: 0px 13px 0px 0px;
        @media (max-width: 1300px) {
            flex: 0 0 50px;
            width: 50px;
            height: 50px;
            margin: 0px 20px 0px 0px;
        }
        img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        span {
            position: absolute;
            bottom: -3px;
            right: -3px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background-color: #fff;
            padding: 3px;
            @media (max-width: 1300px) {
                right: 0;
                bottom: 0;
            }
            &::before {
                content: "";
                width: 8px;
                height: 8px;
                background: #48c95f;
                border-radius: 50%;
            }
        }
    }

    // .personal-header__contacts

    &__contacts {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 9px;
    }

    // .personal-header__phone

    &__phone {
        white-space: nowrap;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        text-align: right;
        transition: opacity 0.3s;
        &:hover {
            opacity: 0.8;
        }
        @media (max-width: 1300px) {
            font-size: 18px;
            line-height: 89%;
        }
    }

    // .personal-header__email

    &__email {
        white-space: nowrap;
        font-weight: 700;
        font-size: 13px;
        line-height: 123%;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        text-align: right;
        color: var(--theme-color-accent);
        transition: color 0.3s;
        &:hover {
            color: var(--theme-color-accent-80);
        }
        @media (max-width: 1300px) {
            font-size: 14px;
            line-height: 114%;
        }
    }
}

.icon-menu {
    display: block;
    position: relative;
    width: 22px;
    height: 14px;
    cursor: pointer;
    z-index: 5;
    span,
    &::before,
    &::after {
        content: "";
        transition: all 0.3s ease 0s;
        right: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: var(--theme-color-text-common);
    }
    &::before {
        top: 0;
    }
    &::after {
        bottom: 0;
    }
    span {
        top: calc(50% - 1px);
    }
    .menu-open & {
        &::before {
            top: calc(50% - 1px);
            transform: rotate(-45deg);
            background-color: var(--theme-color-accent);
        }
        span {
            width: 0;
        }
        &::after {
            background-color: var(--theme-color-accent);
            content: "";
            bottom: calc(50% - 1px);
            transform: rotate(45deg);
        }
    }
}
